<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <appSettings>
        <add key="customers_tonen" value="select * from customers" />
        <add key="customer_toevoegen" value="insert into customers (customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit) values (...,...,...,...,...,...,...,...,...,...,...,...,...)" />
        <add key="order_toevoegen" value="insert into orders (orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber) values (...,...,...,...,...,...,...)" />
        <add key="orderdetails_toevoegen" value="insert into orderdetails (orderNumber,productCode,quantityOrdered,priceEach,orderLineNumber) values (...,...,...,...,...)" />
    </appSettings>
    <connectionStrings>
        <add name="connection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDBFileName=C:\temp\classicmodels.mdf;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
</configuration>