<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="winkel" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\Onedrive\Universiteit Gent\3e BACH\Gegevenstechnologiën\Labo\classicmodels.mdf&quot;;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
  <appSettings>
    <add key="SELECT_CUSTOMERS" value="select * from customers"/>
    <add key="ADD_CUSTOMER" value="insert into customers (customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit) 
				 values (@customerNumber,@customerName,@contactLastName,@contactFirstName,@phone,@addressLine1,@addressLine2,@city,@state,@postalCode,@country,@salesRepEmployeeNumber,@creditLimit)"/>
    <add key="ADD_ORDER" value="insert into orders (orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber)
				 values (@orderNumber,@orderDate,@requiredDate,@shippedDate,@status,@comments,@customerNumber)"/>
    <add key="ADD_ORDERDETAIL" value="insert into orderdetails () 
				 values (@orderNumber,@productCode,@quantityOrdered,@priceEach,@orderLineNumber)"/>
  </appSettings>
</configuration>